<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title >
      Crusher
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-button shape="round" (click)="buttonUpdate()"  class="butupdate">
    <!-- <ion-icon name="reload-outline"></ion-icon> -->
     UPDATE
  </ion-button>


  <mat-expansion-panel  style="padding-left: 0px!important;">
  <mat-expansion-panel-header style="background: rgb(35,35,40); color:floralwhite;">
    <mat-panel-title style="color:floralwhite;" >
      Параметры разрывной дробилки
    </mat-panel-title>
    <!-- <mat-panel-description>
      This is a summary of the content
    </mat-panel-description> -->
    
  </mat-expansion-panel-header >

  <mat-expansion-panel  style="padding-left: 0px!important;">
    <mat-expansion-panel-header style="background: rgb(35,35,40); color:floralwhite;">
      <mat-panel-title style="color:floralwhite;" >
        Параметры вала №1
      </mat-panel-title>
      <!-- <mat-panel-description>
        This is a summary of the content
      </mat-panel-description> -->
      
    </mat-expansion-panel-header >
  
  
    <div>
      
      <ion-item>
      <ion-label>Срабатывание токового реле</ion-label>
      <ion-badge color="medium" id="color_val_current_relay_1" slot="end" class="pose_ion" ><p  class="pose_ion" id='val_current_relay_1'></p></ion-badge>
      </ion-item>
      
      <ion-item>
      <ion-label>Срабатывание по датчику скорости</ion-label>
      <ion-badge color="medium" id="color_val_sensor_speed_1" slot="end" class="pose_ion"><p class="pose_ion" id='val_sensor_speed_1'></p></ion-badge>
      </ion-item>
      <ion-item>
      <ion-label>Перегрев электродвигателя</ion-label>
      <ion-badge color="medium" id="color_overheating_motor_1" slot="end" class="pose_ion"><p class="pose_ion" id='overheating_motor_1'></p></ion-badge>
      </ion-item>
      <ion-item>
      <ion-label>Зажатие вала</ion-label>
      <ion-badge color="medium" id="color_val_clamping_on_1" slot="end" class="pose_ion"><p class="pose_ion" id='val_clamping_on_1'></p></ion-badge>
      </ion-item>
      <ion-item>
      <ion-label>Скорость вращения</ion-label>
      <ion-badge color="medium" slot="end" class="pose_ion" ><p class="pose_ion" id='val_speed_1'></p></ion-badge>
      </ion-item>
      <ion-item>
      <ion-label>Количество поданных реверсов</ion-label>
      <ion-badge color="medium" slot="end" class="pose_ion"><p class="pose_ion" id='val_quantity_revers_1'></p></ion-badge>
      </ion-item>

    </div>
  </mat-expansion-panel>


  
  <mat-expansion-panel  style="padding-left: 0px!important;">
    <mat-expansion-panel-header style="background: rgb(35,35,40); color:floralwhite;">
      <mat-panel-title style="color:floralwhite;" >
        Параметры вала №2
      </mat-panel-title>
      <!-- <mat-panel-description>
        This is a summary of the content
      </mat-panel-description> -->
      
    </mat-expansion-panel-header >
  
  
    <div style="padding: 0px;">
        
      <ion-item  style="padding: 0px;">
      <ion-label>Срабатывание токового реле</ion-label>
      <ion-badge color="medium" id="color_val_current_relay_2" slot="end" class="pose_ion" ><p  class="pose_ion" id='val_current_relay_2'></p></ion-badge>
      </ion-item>
      
      <ion-item>
      <ion-label>Срабатывание по датчику скорости</ion-label>
      <ion-badge color="medium" id="color_val_sensor_speed_2" slot="end" class="pose_ion"><p class="pose_ion" id='val_sensor_speed_2'></p></ion-badge>
      </ion-item>
      <ion-item>
      <ion-label>Перегрев электродвигателя</ion-label>
      <ion-badge color="medium" id="color_overheating_motor_2" slot="end" class="pose_ion"><p class="pose_ion" id='overheating_motor_2'></p></ion-badge>
      </ion-item>
      <ion-item>
      <ion-label>Зажатие вала</ion-label>
      <ion-badge color="medium" id="color_val_clamping_on_2" slot="end" class="pose_ion"><p class="pose_ion" id='val_clamping_on_2'></p></ion-badge>
      </ion-item>
      <ion-item>
      <ion-label>Скорость вращения</ion-label>
      <ion-badge color="medium" slot="end" class="pose_ion" ><p class="pose_ion" id='val_speed_2'></p></ion-badge>
      </ion-item>
      <ion-item>
      <ion-label>Количество поданных реверсов</ion-label>
      <ion-badge color="medium" slot="end" class="pose_ion"><p class="pose_ion" id='val_quantity_revers_2'></p></ion-badge>
      </ion-item>
  
    </div>
  </mat-expansion-panel>
</mat-expansion-panel> 




<mat-expansion-panel  style="padding-left: 0px!important;">
  <mat-expansion-panel-header style="background: rgb(35,35,40); color:floralwhite;">
    <mat-panel-title style="color:floralwhite;" >
      Параметры молотковой дробилки
    </mat-panel-title>
  </mat-expansion-panel-header >


  <div style="padding: 0px;">
      
    <ion-item>
    <ion-label>Вкл/Выкл</ion-label>
    <ion-badge color="medium" slot="end" class="pose_ion" ><p  class="pose_ion" id='hammer_on_off'></p></ion-badge>
    </ion-item>
    
    <ion-item>
    <ion-label>Авария по перегреву</ion-label>
    <ion-badge color="medium" slot="end" class="pose_ion"><p class="pose_ion" id='hammer_crash_overload'></p></ion-badge>
    </ion-item>
    <ion-item>
    <ion-label>Скорость вращения</ion-label>
    <ion-badge color="medium" slot="end" class="pose_ion"><p class="pose_ion" id='hammer_speed'></p></ion-badge>
    </ion-item>
    <!-- <ion-item>
    <ion-label>Сработка на отключение транспортера</ion-label>
    <ion-badge color="medium" slot="end" class="pose_ion"><p class="pose_ion" id='hammer_conveyor_off'></p></ion-badge>
    </ion-item> -->

  </div>
</mat-expansion-panel>


<mat-expansion-panel  style="padding-left: 0px!important;">
  <mat-expansion-panel-header style="background: rgb(35,35,40); color:floralwhite;">
    <mat-panel-title style="color:floralwhite;" >
      Параметры подающего транспортера
    </mat-panel-title>
  </mat-expansion-panel-header >


  <div style="padding: 0px;">
    <ion-item>
    <ion-label>Вкл/Выкл</ion-label>
    <ion-badge color="medium" slot="end" class="pose_ion" ><p class="pose_ion" id='conveyor_on_off_2'></p></ion-badge>
    </ion-item>
    
    <ion-item>
    <ion-label>Аварийное отключение по токовому реле</ion-label>
    <ion-badge color="medium" id="color_conveyor_current_relay_2" slot="end" class="pose_ion"><p class="pose_ion" id='conveyor_current_relay_2'></p></ion-badge>
    </ion-item>


  </div>
</mat-expansion-panel>

<mat-expansion-panel  style="padding-left: 0px!important;">
  <mat-expansion-panel-header style="background: rgb(35,35,40); color:floralwhite;">
    <mat-panel-title style="color:floralwhite;" >
      Параметры выкидного транспортера
    </mat-panel-title>
  </mat-expansion-panel-header >


  <div style="padding: 0px;">

    <ion-item>
    <ion-label>Вкл/Выкл</ion-label>
    <ion-badge color="medium" slot="end" class="pose_ion" ><p class="pose_ion" id='conveyor_on_off_1'></p></ion-badge>
    </ion-item>
    
    <ion-item>
    <ion-label>Аварийное отключение по токовому реле</ion-label>
    <ion-badge color="medium" id="color_conveyor_current_relay_1" slot="end" class="pose_ion"><p class="pose_ion" id='conveyor_current_relay_1'></p></ion-badge>
    </ion-item>

  </div>
</mat-expansion-panel>


</ion-content>
