<ion-header>
  <ion-toolbar color="dark">
      <ion-title>CRUSHER</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-button shape="round" (click)="buttonUpdate()"  class="butupdate">
    <!-- <ion-icon name="reload-outline"></ion-icon> -->
     UPDATE
</ion-button>

<li style="list-style-type: none; padding: 0px;">
  <ion-title (click)="line_2.toggle()" mdbWavesEffect  class="toggle" href="javascriptstyle:void(0);" >Параметры разрывной дробилки</ion-title>
  <div mdbCollapse [isCollapsed]="true" #line_2="bs-collapse">
  <ul style="padding: 0px;">

<li style="list-style-type: none; padding: 0px;">
  <ion-title (click)="line_2_1.toggle()" mdbWavesEffect class="toggle" href="javascriptstyle:void(0);" >Параметры вала №1</ion-title>
  <div mdbCollapse [isCollapsed]="true" #line_2_1="bs-collapse">
  <ul style="padding: 0px;">
      
      <ion-item>
      <ion-label>Срабатывание токового реле</ion-label>
      <ion-badge color="medium" id="color_val_current_relay_1" slot="end" class="pose_ion" ><p  class="pose_ion" id='val_current_relay_1'></p></ion-badge>
      </ion-item>
      
      <ion-item>
      <ion-label>Срабатывание по датчику скорости</ion-label>
      <ion-badge color="medium" id="color_val_sensor_speed_1" slot="end" class="pose_ion"><p class="pose_ion" id='val_sensor_speed_1'></p></ion-badge>
      </ion-item>
      <ion-item>
      <ion-label>Перегрев электродвигателя</ion-label>
      <ion-badge color="medium" id="color_overheating_motor_1" slot="end" class="pose_ion"><p class="pose_ion" id='overheating_motor_1'></p></ion-badge>
      </ion-item>
      <ion-item>
      <ion-label>Зажатие вала</ion-label>
      <ion-badge color="medium" id="color_val_clamping_on_1" slot="end" class="pose_ion"><p class="pose_ion" id='val_clamping_on_1'></p></ion-badge>
      </ion-item>
      <ion-item>
      <ion-label>Скорость вращения</ion-label>
      <ion-badge color="medium" slot="end" class="pose_ion" ><p class="pose_ion" id='val_speed_1'></p></ion-badge>
      </ion-item>
      <ion-item>
      <ion-label>Количество поданных реверсов</ion-label>
      <ion-badge color="medium" slot="end" class="pose_ion"><p class="pose_ion" id='val_quantity_revers_1'></p></ion-badge>
      </ion-item>
      
  </ul>
  </div>
</li>


<li style="list-style-type: none; padding: 0px;">
  <ion-title (click)="line_2_2.toggle()" mdbWavesEffect class="toggle" href="javascriptstyle:void(0);" >Параметры вала №2</ion-title>
  <div mdbCollapse [isCollapsed]="true" #line_2_2="bs-collapse">
  <ul style="padding: 0px;">
      
      <ion-item>
      <ion-label>Срабатывание токового реле</ion-label>
      <ion-badge color="medium" id="color_val_current_relay_2" slot="end" class="pose_ion" ><p  class="pose_ion" id='val_current_relay_2'></p></ion-badge>
      </ion-item>
      
      <ion-item>
      <ion-label>Срабатывание по датчику скорости</ion-label>
      <ion-badge color="medium" id="color_val_sensor_speed_2" slot="end" class="pose_ion"><p class="pose_ion" id='val_sensor_speed_2'></p></ion-badge>
      </ion-item>
      <ion-item>
      <ion-label>Перегрев электродвигателя</ion-label>
      <ion-badge color="medium" id="color_overheating_motor_2" slot="end" class="pose_ion"><p class="pose_ion" id='overheating_motor_2'></p></ion-badge>
      </ion-item>
      <ion-item>
      <ion-label>Зажатие вала</ion-label>
      <ion-badge color="medium" id="color_val_clamping_on_2" slot="end" class="pose_ion"><p class="pose_ion" id='val_clamping_on_2'></p></ion-badge>
      </ion-item>
      <ion-item>
      <ion-label>Скорость вращения</ion-label>
      <ion-badge color="medium" slot="end" class="pose_ion" ><p class="pose_ion" id='val_speed_2'></p></ion-badge>
      </ion-item>
      <ion-item>
      <ion-label>Количество поданных реверсов</ion-label>
      <ion-badge color="medium" slot="end" class="pose_ion"><p class="pose_ion" id='val_quantity_revers_2'></p></ion-badge>
      </ion-item>
  
  </ul>
  </div>
</li>

  </ul>
  </div>
</li>


<li style="list-style-type: none; padding: 0px;">
  <ion-title (click)="line_3.toggle()" mdbWavesEffect  class="toggle" href="javascriptstyle:void(0);">Параметры молотковой дробилки</ion-title>
  <div mdbCollapse [isCollapsed]="true" #line_3="bs-collapse">
  <ul style="padding: 0px;">
      
      <ion-item>
      <ion-label>Вкл/Выкл</ion-label>
      <ion-badge color="medium" slot="end" class="pose_ion" ><p  class="pose_ion" id='hammer_on_off'></p></ion-badge>
      </ion-item>
      
      <ion-item>
      <ion-label>Авария по перегреву</ion-label>
      <ion-badge color="medium" slot="end" class="pose_ion"><p class="pose_ion" id='hammer_crash_overload'></p></ion-badge>
      </ion-item>
      <ion-item>
      <ion-label>Скорость вращения</ion-label>
      <ion-badge color="medium" slot="end" class="pose_ion"><p class="pose_ion" id='hammer_speed'></p></ion-badge>
      </ion-item>
      <!-- <ion-item>
      <ion-label>Сработка на отключение транспортера</ion-label>
      <ion-badge color="medium" slot="end" class="pose_ion"><p class="pose_ion" id='hammer_conveyor_off'></p></ion-badge>
      </ion-item> -->

  </ul>
  </div>
</li>

<li style="list-style-type: none; padding: 0px;">
  <ion-title (click)="line_4.toggle()" mdbWavesEffect class="toggle">Параметры подающего транспортера</ion-title>
  <div mdbCollapse [isCollapsed]="true" #line_4="bs-collapse">
  <ul style="padding: 0px;">
      
      <ion-item>
      <ion-label>Вкл/Выкл</ion-label>
      <ion-badge color="medium" slot="end" class="pose_ion" ><p  class="pose_ion" id='conveyor_on_off_2'></p></ion-badge>
      </ion-item>
      
      <ion-item>
      <ion-label>Аварийное отключение по токовому реле</ion-label>
      <ion-badge color="medium" slot="end" class="pose_ion"><p class="pose_ion" id='conveyor_current_relay_2'></p></ion-badge>
      </ion-item>

  </ul>
  </div>
</li>

<li style="list-style-type: none; padding: 0px;">
  <ion-title (click)="line_5.toggle()" mdbWavesEffect class="toggle" >Параметры выкидного транспортера</ion-title>
  <div mdbCollapse [isCollapsed]="true" #line_5="bs-collapse">
  <ul style="padding: 0px;">
      
      <ion-item>
      <ion-label>Вкл/Выкл</ion-label>
      <ion-badge color="medium" slot="end" class="pose_ion" ><p  class="pose_ion" id='conveyor_on_off_1'></p></ion-badge>
      </ion-item>
      
      <ion-item>
      <ion-label>Аварийное отключение по токовому реле</ion-label>
      <ion-badge color="medium" id="color_conveyor_current_relay_1" slot="end" class="pose_ion"><p class="pose_ion" id='conveyor_current_relay_1'></p></ion-badge>
      </ion-item>

  </ul>
  </div>

</li>

<!-- <ion-title>
  <ion-icon slot="start" name="logo-python" style="color: #3575AC;"></ion-icon>
</ion-title> -->
<!-- 
<button mdbBtn color="primary" class="waves-light" type="button" (click)="test.toggle()" mdbWavesEffect>
  Toggle collapse
</button>

<div mdbCollapse [isCollapsed]="true" #test="bs-collapse">
  <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica,
    craft beer labore wes anderson cred nesciunt sapiente ea proident.</p>
</div> -->

</ion-content>



