<ion-header>
  <ion-toolbar color="dark">
      <ion-title>CRUSHER 1</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-button shape="round" (click)="buttonUpdate()"  class="butupdate">
    <!-- <ion-icon name="reload-outline"></ion-icon> -->
     UPDATE
</ion-button>




<div class="tabs">
  <div class="tab">
    <input type="checkbox" id="chck1">
    <label class="tab-label" for="chck1">Параметры разрывной дробилки</label>
    <div class="tab-content" style="padding-left: 0px; padding-right: 0px;">


      <div class="tabs" style="padding: 0px;">
        <div class="tab">
          <input type="checkbox" id="chck1_1">
          <label class="tab-label" for="chck1_1">Параметры вала №1</label>
          <div class="tab-content">
      
            <ion-item>
            <ion-label>Срабатывание токового реле</ion-label>
            <ion-badge color="medium" id="color_val_current_relay_1" slot="end" class="pose_ion" ><p  class="pose_ion" id='val_current_relay_1'></p></ion-badge>
            </ion-item>
            
            <ion-item>
            <ion-label>Срабатывание по датчику скорости</ion-label>
            <ion-badge color="medium" id="color_val_sensor_speed_1" slot="end" class="pose_ion"><p class="pose_ion" id='val_sensor_speed_1'></p></ion-badge>
            </ion-item>
            <ion-item>
            <ion-label>Перегрев электродвигателя</ion-label>
            <ion-badge color="medium" id="color_overheating_motor_1" slot="end" class="pose_ion"><p class="pose_ion" id='overheating_motor_1'></p></ion-badge>
            </ion-item>
            <ion-item>
            <ion-label>Зажатие вала</ion-label>
            <ion-badge color="medium" id="color_val_clamping_on_1" slot="end" class="pose_ion"><p class="pose_ion" id='val_clamping_on_1'></p></ion-badge>
            </ion-item>
            <ion-item>
            <ion-label>Скорость вращения</ion-label>
            <ion-badge color="medium" slot="end" class="pose_ion" ><p class="pose_ion" id='val_speed_1'></p></ion-badge>
            </ion-item>
            <ion-item>
            <ion-label>Количество поданных реверсов</ion-label>
            <ion-badge color="medium" slot="end" class="pose_ion"><p class="pose_ion" id='val_quantity_revers_1'></p></ion-badge>
            </ion-item>

      
          </div>
        </div>
      </div>



      <div class="tabs">
        <div class="tab">
          <input type="checkbox" id="chck1_2">
          <label class="tab-label" for="chck1_2">Параметры вала №2</label>
          <div class="tab-content">
      
            <ion-item>
            <ion-label>Срабатывание токового реле</ion-label>
            <ion-badge color="medium" id="color_val_current_relay_2" slot="end" class="pose_ion" ><p  class="pose_ion" id='val_current_relay_2'></p></ion-badge>
            </ion-item>
            
            <ion-item>
            <ion-label>Срабатывание по датчику скорости</ion-label>
            <ion-badge color="medium" id="color_val_sensor_speed_2" slot="end" class="pose_ion"><p class="pose_ion" id='val_sensor_speed_2'></p></ion-badge>
            </ion-item>
            <ion-item>
            <ion-label>Перегрев электродвигателя</ion-label>
            <ion-badge color="medium" id="color_overheating_motor_2" slot="end" class="pose_ion"><p class="pose_ion" id='overheating_motor_2'></p></ion-badge>
            </ion-item>
            <ion-item>
            <ion-label>Зажатие вала</ion-label>
            <ion-badge color="medium" id="color_val_clamping_on_2" slot="end" class="pose_ion"><p class="pose_ion" id='val_clamping_on_2'></p></ion-badge>
            </ion-item>
            <ion-item>
            <ion-label>Скорость вращения</ion-label>
            <ion-badge color="medium" slot="end" class="pose_ion" ><p class="pose_ion" id='val_speed_2'></p></ion-badge>
            </ion-item>
            <ion-item>
            <ion-label>Количество поданных реверсов</ion-label>
            <ion-badge color="medium" slot="end" class="pose_ion"><p class="pose_ion" id='val_quantity_revers_2'></p></ion-badge>
            </ion-item>

          </div>
        </div>
      </div>
      

      <!-- <div class="tabs">
        <div class="tab">
          <input type="checkbox" id="chck1_3">
          <label class="tab-label" for="chck1_3">Параметры вала №3</label>
          <div class="tab-content">
      
            <ion-item>
            <ion-label>Срабатывание токового реле</ion-label>
            <ion-badge color="medium" id="color_val_current_relay_2" slot="end" class="pose_ion" ><p  class="pose_ion" id='val_current_relay_2'></p></ion-badge>
            </ion-item>
            
            <ion-item>
            <ion-label>Срабатывание по датчику скорости</ion-label>
            <ion-badge color="medium" id="color_val_sensor_speed_2" slot="end" class="pose_ion"><p class="pose_ion" id='val_sensor_speed_2'></p></ion-badge>
            </ion-item>
            <ion-item>
            <ion-label>Перегрев электродвигателя</ion-label>
            <ion-badge color="medium" id="color_overheating_motor_2" slot="end" class="pose_ion"><p class="pose_ion" id='overheating_motor_2'></p></ion-badge>
            </ion-item>
            <ion-item>
            <ion-label>Зажатие вала</ion-label>
            <ion-badge color="medium" id="color_val_clamping_on_2" slot="end" class="pose_ion"><p class="pose_ion" id='val_clamping_on_2'></p></ion-badge>
            </ion-item>
            <ion-item>
            <ion-label>Скорость вращения</ion-label>
            <ion-badge color="medium" slot="end" class="pose_ion" ><p class="pose_ion" id='val_speed_2'></p></ion-badge>
            </ion-item>
            <ion-item>
            <ion-label>Количество поданных реверсов</ion-label>
            <ion-badge color="medium" slot="end" class="pose_ion"><p class="pose_ion" id='val_quantity_revers_2'></p></ion-badge>
            </ion-item>

          </div>
        </div>
      </div> -->
      
      

    </div>
  </div>
</div>





<div class="tabs">
  <div class="tab">
    <input type="checkbox" id="chck2">
    <label class="tab-label" for="chck2">Параметры молотковой дробилки</label>
    <div class="tab-content">
      
      <ion-item>
      <ion-label>Вкл/Выкл</ion-label>
      <ion-badge color="medium" slot="end" class="pose_ion" ><p  class="pose_ion" id='hammer_on_off'></p></ion-badge>
      </ion-item>
      
      <ion-item>
      <ion-label>Авария по перегреву</ion-label>
      <ion-badge color="medium" slot="end" class="pose_ion"><p class="pose_ion" id='hammer_crash_overload'></p></ion-badge>
      </ion-item>
      <ion-item>
      <ion-label>Скорость вращения</ion-label>
      <ion-badge color="medium" slot="end" class="pose_ion"><p class="pose_ion" id='hammer_speed'></p></ion-badge>
      </ion-item>
      <!-- <ion-item>
      <ion-label>Сработка на отключение транспортера</ion-label>
      <ion-badge color="medium" slot="end" class="pose_ion"><p class="pose_ion" id='hammer_conveyor_off'></p></ion-badge>
      </ion-item> -->

    </div>
  </div>
</div>





    <div class="tabs">
      <div class="tab">
        <input type="checkbox" id="chck4">
        <label class="tab-label" for="chck4">Параметры подающего транспортера</label>
        <div class="tab-content">
          
          
          <ion-item>
          <ion-label>Вкл/Выкл</ion-label>
          <ion-badge color="medium" slot="end" class="pose_ion" ><p class="pose_ion" id='conveyor_on_off_2'></p></ion-badge>
          </ion-item>
          
          <ion-item>
          <ion-label>Аварийное отключение по токовому реле</ion-label>
          <ion-badge color="medium" id="color_conveyor_current_relay_2" slot="end" class="pose_ion"><p class="pose_ion" id='conveyor_current_relay_2'></p></ion-badge>
          </ion-item>

        </div>
      </div>
    </div>


    <div class="tabs">
      <div class="tab">
        <input type="checkbox" id="chck5">
        <label class="tab-label" for="chck5">Параметры выкидного транспортера</label>
        <div class="tab-content">
          
          
          <ion-item>
            <ion-label>Вкл/Выкл</ion-label>
            <ion-badge color="medium" slot="end" class="pose_ion" ><p class="pose_ion" id='conveyor_on_off_1'></p></ion-badge>
            </ion-item>
            
            <ion-item>
            <ion-label>Аварийное отключение по токовому реле</ion-label>
            <ion-badge color="medium" id="color_conveyor_current_relay_1" slot="end" class="pose_ion"><p class="pose_ion" id='conveyor_current_relay_1'></p></ion-badge>
            </ion-item>


        </div>
      </div>
    </div>

  





</ion-content>
